# Docker Compose interpolation variables for staging
POSTGRES_USER=golanger
POSTGRES_PASSWORD=replace-with-strong-password
POSTGRES_DB=golanger_staging
NEXT_PUBLIC_BACKEND_URL=http://94.141.162.107:18080
