# Docker Compose interpolation variables for staging
POSTGRES_USER=golanger
POSTGRES_PASSWORD=replace-with-strong-password
POSTGRES_DB=golanger_staging
NEXT_PUBLIC_BACKEND_URL=http://72.56.232.70:18080
